@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  @apply bg-black overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-dela text-white;
}

h2 {
  @apply text-[5rem];
}

p {
  @apply text-white;
}

p,
button {
  @apply font-roboto;
}

section {
  @apply border-b-[1px] border-b-grey min-h-lvh w-lvw px-pcx;
}

.reveal:nth-child(2n + 1) {
  transform: translateY(150px);

  opacity: 0;

  transition: 1s all ease-in-out;
}

.reveal:nth-child(2n) {
  transform: translateY(-150px);

  opacity: 0;

  transition: 1s all ease-in-out;
}

.reveal.active {
  transform: translateY(0);

  opacity: 1;

  transition: 1s all ease-in-out;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
