@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  @apply bg-black max-w-[100vw] overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-dela text-white; //font-dela is custom in tailwindcss
}

h2 {
  @apply lg:text-[5rem] sm:text-[80px] text-[48px] text-5xl leading-[64px] sm:leading-[100px];
}

p,
a {
  @apply text-white max-lg:text-[24px] max-lg:leading-[40px] tracking-wide max-sm:text-[14px] max-sm:leading-[17px];
}

a {
  @apply border-b-transparent hover:border-green border-b transition-all hover:scale-105 max-lg:font-bold max-sm:font-normal;
}

p,
button {
  @apply font-roboto; //font-roboto is custom in tailwindcss
}

section {
  @apply border-b-[1px] border-b-grey lg:min-h-lvh w-lvw lg:px-pcx sm:px-tx px-mx py-[60px];
}

//cycle for delay of every animated on scroll element
@for $i from 1 through 4 {
  .reveal > div:nth-child(#{$i}) {
    transition: 1s all ease-in-out #{calc($i/2)}s;
  }
}

@media screen and (min-width: 1024px) {
  //Y appear
  .reveal > div:nth-child(2n + 1) {
    transform: translateY(150px);

    opacity: 0;
  }

  //Y appear
  .reveal > div:nth-child(2n) {
    transform: translateY(-150px);

    opacity: 0;
  }

  //Y appear
  .reveal.active > div {
    transform: translateY(0);

    opacity: 1;
  }

  .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  //X appear
  .reveal > div:nth-child(2n + 1) {
    transform: translateX(150px);

    opacity: 0;
  }

  //X appear
  .reveal > div:nth-child(2n) {
    transform: translateX(-150px);

    opacity: 0;
  }

  //X appear
  .reveal.active > div {
    transform: translateX(0);

    opacity: 1;
  }

  .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}

.text-2l {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

//spacing between elements in slider
.slick-slide {
  & > div {
    margin: 0 10px;
  }
}

//center elements by Y in slider
.slick-track {
  display: flex !important;
  align-items: center;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
